<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs',{title:"Lista de Productos",stylesheets:["productList.css"]}) %>

<body>
    <%- include('../partials/header.ejs') %>       <!-- Inclusión de Header con EJS -->
    <main>
        <section>
            <ul>
                <% for(let i=0;i<productos.length; i++){ %>
                    <li class="list_product">
                        <a href="/products/productDetail/<%= productos[i].id %>">
                            <img class="image_product"src="/images/products/<%= productos[i].image %>" alt="producto<%= productos[i].id %>">
                            <p class="product_description"><%= productos[i].description %></p>
                        </a>
                        <div class="anterior_sell">
                            <h3><%= productos[i].name %></h3>
                            <div>
                                <p class="precio_ant">
                                    USD $<%= productos[i].price %>
                                </p>
                                <p class="precio_ahora">
                                    USD $<%= (productos[i].price * (1 - productos[i].discount / 100)) %>
                                </p>
                            </div>
                        </div>
                    </li>
                <% } %>
            </ul>

        </section>
    </main>
    <%- include('../partials/footer.ejs') %>       <!-- Inclusión de Footer con EJS -->
</body>
</html>