<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs',{title:"Detalle de Producto",stylesheets:["productDetail.css"]}) %>         <!-- Inclusión de Head con EJS -->

<body>
    <%- include('../partials/header.ejs') %>       <!-- Inclusión de Header con EJS -->
    <main>
        <section class="product">
            <h4><%= producto.name %></h4>
            <div class="product__rating">
                <i class="fas fa-star star checked"></i>
                <i class="fas fa-star star checked"></i>
                <i class="fas fa-star star checked"></i>
                <i class="fas fa-star star checked"></i>
                <i class="fas fa-star star"></i>
                <p>12 opiniones</p>
            </div>
            <div class="product__layout">
                <div class="product__images">
                    <div class="images__main">
                       <img src=<%= `/images/products/${producto.image}` %> alt="prenda">
                    </div>
                    <div class="images__mosaic">
                        <img src=<%= `/images/products/${producto.image}` %> alt="prenda">
                        <img src=<%= `/images/products/${producto.image}` %> alt="prenda">
                        <img src=<%= `/images/products/${producto.image}` %> alt="prenda">
                    </div>
                </div>
                <div class="product__info">
                    <h4><%= producto.name %></h4>
                    <div class="product__rating">
                        <i class="fas fa-star star checked"></i>
                        <i class="fas fa-star star checked"></i>
                        <i class="fas fa-star star checked"></i>
                        <i class="fas fa-star star checked"></i>
                        <i class="fas fa-star star"></i>
                        <p>12 opiniones</p>
                    </div>
                    <div class="info__price">
                        <p>$ <%= producto.price %></p><span><%= producto.discount %> % OFF</span>
                    </div>
                    <p class="info__shipping"><i class="fas fa-truck truck"></i>Envío gratis a todo el país</p>
                    <div class="info__stock">
                        <div class="stock__sizes">
                            <h6>Seleccione el talle</h6>
                            <select name="size">
                                <option value="small">S</option>
                                <option value="medium">M</option>
                                <option value="large">L</option>
                                <option value="xlarge">XL</option>
                            </select>
                        </div>
                        <div class="stock__units">
                            <h6>Cantidad</h6>
                            <select name="quantity">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="2+">Más de 2 unidades</option>
                            </select>
                        </div>
                    </div>
                    <button>Agregar a mi Carrito<i class="fas fa-cart-plus cart"></i></button>
                    <div class="info__description">
                        <h6>Descripción</h6>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam ratione voluptas atque placeat id mollitia sapiente at autem excepturi natus omnis saepe repudiandae, quas ullam, quidem facere? Modi, eos suscipit!</p>
                    </div>
                   
                    <a href="/products/productEdit/<%= producto.id %>" class="action-button edit">EDITAR PRODUCTO</a>
					<form action="/products/productDetail/<%= producto.id %>?_method=DELETE" method="POST" style="display: inline-flex">
							<button type="submit" class="action-button delete">ELIMINAR</button>
					</form>
                </div>
            </div>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>       <!-- Inclusión de Footer con EJS -->
</body>
</html>