<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head.ejs',{title:"Edición de Producto",stylesheets:["productEdit.css"]}) %>

<body>
    <%- include('../partials/header.ejs') %>       <!-- Inclusión de Header con EJS -->

	<div class="caja-formulario">
			<h2>Editando: <i><%= product.nombre  %></i></h2>
		<div >
			<form action="/products/productEdit/<%= product.id %>?_method=PUT" method="post">
				<div  class="caja-formulario">
					<div >
						<label class="align-formulario" for="name" >Nombre del producto:</label>
						<input type="text" id="name" name="name" placeholder="Ej: Vestido Retazeado" class="inputs-formulario" value="<%= product.name  %>">
					</div>
					<div >
						<label class="align-formulario" for="price" >Precio:</label>
						<input type="text" id="price" name="price" placeholder="Ej: 120" class="inputs-formulario" value="<%= product.price  %>">
					</div>
					<div >
						<label class="align-formulario" for="discount" >Descuento:</label>
						<input type="text" id="discount" name="discount" placeholder="Ej: 15" class="inputs-formulario" value="<%= product.discount  %>">
					</div>
                    <div>
						<label for="category" class="align-formulario">Categoría:</label>
						<select name="category" id="category" class="inputs-formulario">
							<option value="1">Elegí</option>
							<option value="1" <%= product.category == "1" ? "selected" : null %> >Vestidos</option>
							<option value="2" <%= product.category == "2" ? "selected" : null %> >Abrigos</option>
							<option value="3" <%= product.category == "3" ? "selected" : null %> >pantalon_dama</option>
							<option value="4" <%= product.category == "4" ? "selected" : null %> >pantalon_hombre</option>
							<option value="5" <%= product.category == "5" ? "selected" : null %> >camisa</option>
							<option value="6" <%= product.category == "6" ? "selected" : null %> >otro</option>
						</select>
					</div>
					
					<div >
						<label class="align-formulario" for="description" >Descripción:</label>
						<textarea name="description" id="description" class="inputs-formulario"><%= product.description %></textarea>
					</div>
					<div >
						<button type="submit" class="boton-input">Guardar producto</button>
					</div>
				</div>
			</form>
		</div>

	</div>
	<!-- /todos los productos -->

	<%- include('../partials/footer.ejs') %>       <!-- Inclusión de Footer con EJS -->
</body>	
</html>