<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs',{title:"Somos Veffaly"}) %>         <!-- Inclusión de Head con EJS -->


<body>
    <%- include('partials/header.ejs') %>       <!-- Inclusión de Header con EJS -->
    <main>
        <section class="banner">
            <div class="slider">
                <ul>
                    <li><img src="/images/image1.jpg" alt="banner"></li>
                    <li><img src="/images/image5.jpg" alt="banner"></li>
                    <li><img src="/images/image2.jpg" alt="banner"></li>
                    <li><img src="/images/image3.jpg" alt="banner"></li>
                </ul>
            </div>
            <div class="banner__slogan">
                <p>There's no place to live other than our precious earth</p>
                <button>Descubre</button>
            </div>
        </section>
        <h2>PROMOCIONES</h2>
        <section>
            
            <% for(let i=0;i<productos.length; i++){ %>
                <article>
                    <a href="/products/productDetail/<%= productos[i].id %>"><img src="/images/products/<%= productos[i].image %>" alt="producto<%= productos[i].id %>"></a>
                    <h3><%= productos[i].name %></h3>
                    <div class="anterior_sell">
                        <p class="precio_ant">
                            USD $<%= productos[i].price %>
                        </p>
                        <p class="precio_ahora">
                            USD $<%= (productos[i].price * (1 - productos[i].discount / 100)) %>
                        </p>
                    </div>
                </article>
            <% } %>

            

        </section>
    </main>
    <%- include('partials/footer.ejs') %>       <!-- Inclusión de Footer con EJS -->
</body>
</html>