<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs',{title:"Somos Veffaly"}) %>         <!-- Inclusión de Head con EJS -->


<body>
    <%- include('partials/header.ejs') %>       <!-- Inclusión de Header con EJS -->
    <main>
        <section class="banner">
            <div class="slider">
                <ul>
                    <li><img src="/images/image1.jpg" alt="banner"></li>
                    <li><img src="/images/image5.jpg" alt="banner"></li>
                    <li><img src="/images/image2.jpg" alt="banner"></li>
                    <li><img src="/images/image3.jpg" alt="banner"></li>
                </ul>
            </div>
            <div class="banner__slogan">
                <p>There's no place to live other than our precious earth</p>
                <button>Descubre</button>
            </div>
        </section>
        <div class="carousel">
            <div class="carousel-inner">
                <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
                <div class="carousel-item">
                    <img src="http://fakeimg.pl/2000x800/0079D8/fff/?text=Without">
                </div>
                <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
                <div class="carousel-item">
                    <img src="http://fakeimg.pl/2000x800/DA5930/fff/?text=JavaScript">
                </div>
                <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
                <div class="carousel-item">
                    <img src="http://fakeimg.pl/2000x800/F90/fff/?text=Carousel">
                </div>
                <label for="carousel-3" class="carousel-control prev control-1">‹</label>
                <label for="carousel-2" class="carousel-control next control-1">›</label>
                <label for="carousel-1" class="carousel-control prev control-2">‹</label>
                <label for="carousel-3" class="carousel-control next control-2">›</label>
                <label for="carousel-2" class="carousel-control prev control-3">‹</label>
                <label for="carousel-1" class="carousel-control next control-3">›</label>
                <ol class="carousel-indicators">
                    <li>
                        <label for="carousel-1" class="carousel-bullet">•</label>
                    </li>
                    <li>
                        <label for="carousel-2" class="carousel-bullet">•</label>
                    </li>
                    <li>
                        <label for="carousel-3" class="carousel-bullet">•</label>
                    </li>
                </ol>
            </div>
        </div>
        <h2>PROMOCIONES</h2>
        <section>
            
            <% for(let i=0;i<productos.length; i++){ %>
                <article>
                    <a href="/products/productDetail/<%= productos[i].id %>"><img src="/images/products/<%= productos[i].image %>" alt="producto<%= productos[i].id %>"></a>
                    <h3><%= productos[i].name %></h3>
                    <div class="anterior_sell">
                        <p class="precio_ant">
                            USD $<%= productos[i].price %>
                        </p>
                        <p class="precio_ahora">
                            USD $<%= (productos[i].price * (1 - productos[i].discount / 100)) %>
                        </p>
                    </div>
                </article>
            <% } %>

            

        </section>
    </main>
    <%- include('partials/footer.ejs') %>       <!-- Inclusión de Footer con EJS -->
</body>
</html>
