<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>         <!-- Inclusión de Head con EJS -->
    <title>Somos Veffaly</title>
</head>


<body>
    <%- include('partials/header.ejs') %>       <!-- Inclusión de Header con EJS -->
    <section class="banner">
        <img class="banner__img" src="/images/banner.jpg" alt="banner">
        <div class="banner__slogan">
            <p>There's no place to live other than our precious earth</p>
            <button>Descubre</button>
        </div>
    </section>
    <main>
        <h2>PROMOCIONES</h2>
        <section>
            
            <% for(let i=0;i<productos.length; i++){ %>
                <article>
                    <a href=<%= `/products/productDetail/${productos[i].id}` %>><img src= <%= `/images/${productos[i].imagen}` %> alt="producto"></a>
                    <h3><%= productos[i].nombre %></h3>
                    <div class="anterior_sell">
                        <p class="precio_ant">
                            <%= productos[i].precio_ant %>
                        </p>
                        <p class="precio_ahora">
                            <%= productos[i].precio %>
                        </p>
                    </div>
                </article>
            <% } %>

            

        </section>
    </main>
    <%- include('partials/footer.ejs') %>       <!-- Inclusión de Footer con EJS -->
</body>
</html>
