<html lang="en">

<%- include('../partials/head.ejs',{title:"Registro",stylesheets:["register.css"]}) %>

<body>
    <%- include('../partials/header.ejs') %>
    <main>
         
        <form action="/users/register"  method="post" enctype="multipart/form-data">
            <div class="caja-formulario">
                <div>
                    <label for="name">Nombre </label>
                    <input type="text" id="name" name="name" placeholder="Nombre" class="inputs-formulario"
                    value="<%= locals.oldData ? oldData.name : null %>">
                    <p class="error-msg"></p>
                    <% if (locals.errors && errors.name) { %>
                        <div class="text-danger">
                            <%= errors.name.msg %> 
                        </div>
                    <% } %>
                </div>
                <div >
                    <label for="lastName">Apellido </label>
                    <input type="text" id="lastName" name="lastName" placeholder="Apellido" class="inputs-formulario"
                    value="<%= locals.oldData ? oldData.lastName : null %>">
                    <p class="error-msg"></p>
                    <% if (locals.errors && errors.lastName) { %>
                        <div class="text-danger">
                            <%= errors.lastName.msg %> 
                        </div>
                    <% } %>
                </div>
                <div >
                    <label for="email" >E-mail </label>
                    <input type="text" id="email" name="email" placeholder="E-mail" class="inputs-formulario" value="<%= locals.oldData && oldData.email ? oldData.email : null %>">
                    <p class="error-msg"></p> 
                    <% if (locals.errors && errors.email) { %>
                        <div class="text-danger">
                            <%= errors.email.msg %> 
                        </div>
                    <% } %>
                </div>
                <div >
                    <label for="password">Contraseña </label>
                    <input type="password" id="password" name="password" placeholder="Password" class="inputs-formulario">
                    <p class="error-msg"></p>
                    <% if (locals.errors && errors.password) { %>
                        <div class="text-danger">
                            <%= errors.password.msg %> 
                        </div>
                    <% } %>
                </div>
                
                <div>
                    <label for="category">Categoria</label>
                    <select name="category" id="category" class="inputs-formulario">
                        <option value="hombres">Hombres</option>
                        <option value="mujeres">Mujeres</option>
                    </select>
                    <p class="error-msg"></p>
                    <% if (locals.errors && errors.category) { %>
                        <div class="text-danger">
                            <%= errors.category.msg %> 
                        </div>
                    <% } %>
                </div>
            

                <div>
						<label for="image">Imagen de Perfil</label>
						<input type="file" id="image" name="image" class="inputs-formulario">
                        <p class="error-msg"></p>
                        <% if (locals.errors && errors.image) { %>
                            <div class="text-danger">
                                <%= errors.image.msg %> 
                            </div>
                        <% } %>
				</div>
                <div>

					<button type="submit" class="boton">Registrar Usuario</button>
				</div>
            </div>
        </form>
    </main>
    <%- include('../partials/footer.ejs') %>
    <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
    <script src="/js/register.js"></script>
</body>

</html>